---
layout: default
---
<div class="main_container">
	<div class="posts_container"> 
      {% for post in site.posts %}
		<div class="posts" >
         {% if post.categories contains 'blog' %}
         {% else %}
         {% endif %}    
		   <article class="post">    
		   <!-- Choose different icon based on blog/project
			% if post.categories contains 'blog' %}
			  <img src="{{site.baseurl}}/images/news_icon.png">
			% else %}
			  <img src="{{site.baseurl}}/images/project_icon.png">
			% endif %}
         -->
			  <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
		   {{ post.date | date: '%B %d, %Y'}}
			<div>
            {% if post.image != null %}  <!-- Check if image exists--> 
            <div class="thumbnail">
                 <img src="{{ site.baseurl }}{{ post.image }}">
            </div>
            {% endif %}
            <div class="post-text">
            {{ post.content | truncatewords:40}} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
            </div>
         </div> 
		  </article>
        </div>  
      {% endfor %}
   </div>
   <div class="right_bar">
      <!--<div>
         <h3>Search By Tags</h3>
         {% include post-tags.html %}
      </div>-->
      
      <div>
     
      <h3>Recent Post</h3>
      {% for post in site.posts limit:5 %}
         <article class="post">    
			  <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
			  {{ post.date | date: '%B %d, %Y'}}	
         </article>
      {% endfor %}
      </div>
      
      <div class="twitter">
         <a class="twitter-timeline" href="https://twitter.com/cathalmccabe" data-widget-id="694546693484875776">Tweets by @cathalmccabe</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
     </div>
     
	  <div><h4>Calender<h4>
	  </div>
	</div>
</div>




