---
layout: new_default
---
      
<div class="main_container">
   <div style="headline_cols">
   <h3>News</h3>
   
      <div class="headline_boxes"> 
         {% assign blogPosts = site.posts | where: "category", "blog" %}
         {% for post in blogPosts limit:1 %}
         <div class="posts" >
            <span class="post-heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            {{ post.date | date: '%B %d, %Y'}}
            </span>
            <span style="float:right;">
              {% include social-media.html %}
            </span>
            <div>
               {% if post.image != null %}  
               <div class="thumbnail">
                    <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image }}"></a>
               </div>
               {% endif %}
               <div class="post-text">
               {{ post.content | truncatewords:10}} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> 
               </div>
               
            </div> 
          </div>  
         {% endfor %}
       </div>
    
    
       <div class="headline_boxes"> 
         {% assign resindex = site.posts | where: "category", "project" %}
         {% for post in resindex %}
            {% if post.featured %}   
            <div class="posts" >
               <span class="post-heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
               {{ post.date | date: '%B %d, %Y'}}
               </span>
               <span style="float:right;">
                 {% include social-media.html %}
               </span>
               <div>
                  {% if post.image != null %}  
                  <div class="thumbnail">
                       <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image }}"></a>
                  </div>
                  {% endif %}
                  <div class="post-text">
                  {{ post.content | truncatewords:10}} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> 
                  </div>
                  
               </div> 
            </div> 
            {% break %} {% comment %}exit the for loop{% endcomment %}          
            {% endif %}
         {% endfor %}
       <div>
    
   </div>  

   <div class="right_bar">

   </div>
</div>




