<div>
  <br>
  <h2>Spotlight: <a href ="http://www.fpl2016.org/">FPL 2016</a></h3>

  <p>
    <a href ="http://www.fpl2016.org/">
      <img src="{{ site.baseurl }}/images/homepage/temp/fpl2016banner.png" style="width:350px;">
    </a>
    <br>
    International Field-Programmable Logic and Applications Conference (FPL) 2016 will take place Switzerland, from 29th August 2016 until 2nd September 2016. The main conference will take place from Tuesday to Thursday, with Tutorials and Workshops on Monday and Friday.
    <br>
    For more details, see <a href ="http://www.fpl2016.org/">FPL 2016</a>
  </p>
</div>