<div>
  <br>
  <h2>Spotlight: <a href ="http://www.fpl2016.org/">FPL 2016</a></h3>
  <a href ="http://www.fpl2016.org/">
    <img src="{{ site.baseurl }}/images/homepage/temp/fpl2016banner.png" style="width:350px;">
  </a>
  <p>
    29th August - 2nd September 2016, Switzerland
    <br>
    The main FPL conference will take place Tuesday to Thursday, with Tutorials and Workshops on Monday and Friday.
    <br>
    <br>
    For more details, see <a href ="http://www.fpl2016.org/">FPL 2016</a>
  </p>
</div>