<div>
  <h3>FPL 2016</h3>

  <p>
    <a href ="http://www.fpl2016.org/">
      <img src="{{ site.baseurl }}/images/homepage/temp/fpl2016banner.png">
    </a>
    <br>
    The International Conference on Field-Programmable Logic and Applications (FPL) is the largest conference covering field-programmable logic and reconfigurable computing. 
    <br>
    The 26th edition will take place in Lausanne, Switzerland, from 29th August 2016 until 2nd September 2016. The main conference will take place from Tuesday to Thursday, with Tutorials and Workshops on Monday and Friday.
    <br>
    <a href ="http://www.fpl2016.org/">FPL 2016</a>
  </p>
<div>