<div>
  <table>
    <tr>
      <td>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/images/homepage/learn.jog">
        </a>
      </td>
      <td>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/images/homepage/teach.jpg">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/images/homepage/make.jpg">
        </a>
      </td>
      <td>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/images/homepage/research.jpg">
        </a>
      </td>
    </tr>
  </table>
  
</div>