<div>
  <table>
    <tr>
      <td>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/_includes/learn.jog">
        </a>
      </td>
      <td>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/_includes/teach.jpg">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/_includes/make.jpg">
        </a>
      </td>
      <td>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/_includes/research.jpg">
        </a>
      </td>
    </tr>
  </table>
</div>