<div>
  <table style="text-align:center; margin:auto">
    <tr>
      <td style="text-align: center; ">
        <a href="{{ site.baseurl }}/projects" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/solder1.png" style="width:50px; height:50px; margin:10px 25px 5px 25px;">
        </a>    
        <br>
        Projects        
      </td>
      <td style="text-align: center; ">
        <a href="{{ site.baseurl }}/resources" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/make.jpg" style="width:50px; height:50px; margin:10px 25px 5px 25px;">
        </a>    
        <br>
        Resources        
      </td>
      <td style="text-align: center; ">
        <a href="{{ site.baseurl }}/training" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/training.jpg" style="width:50px; height:50px; margin:10px 25px 5px 25px;">
        </a> 
        <br>
        Training        
      </td>
      <td style="text-align: center; ">
        <a href="{{ site.baseurl }}/workshops" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/workshop.png" style="width:50px; height:50px; margin:10px 25px 5px 25px;">
        </a>   
        <br>
        Workshops
      </td>
      <td style="text-align: center; ">
        <a href="{{ site.baseurl }}/teaching" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/teach.jpg" style="width:50px; height:50px; margin:10px 25px 5px 25px;">
        </a>   
        <br>
        Teaching Material
      </td>
      <td style="text-align: center; ">
        <a href="{{ site.baseurl }}/books" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/books.jpg" style="width:50px; height:50px; margin:10px 25px 5px 25px;">
        </a>   
        <br>
        Books
      </td>
      <td style="text-align: center; ">
        <a href="{{ site.baseurl }}/papers" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/papers.jpg" style="width:50px; height:50px; margin:10px 25px 5px 25px;">
        </a>   
        <br>
        Papers
      </td>
      <td style="text-align: center; ">
        <a href="{{ site.baseurl }}/conferences" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/conference.png" style="width:50px; height:50px; margin:10px 25px 5px 25px;">
        </a>   
        <br>
        Conferences
      </td>
    </tr>
  </table>
</div>

{% include announce.html %}