<div>
  <table align="center" style="text-align:center;">
    <tr>
      <td style="text-align: center; width: 240px;">
        <a href="{{ site.baseurl }}/learn" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/learn.jpg" width="150">
        </a>          
        <br>
        <h3>
          <a href="{{ site.baseurl }}/make">
            Learn
          </a>
        </h3>
      </td>
      <td style="text-align: center; width: 240px;">
        <a href="{{ site.baseurl }}/teach" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/teach.jpg" width="150">
        </a>          
        <br>
        <h3>
          <a href="{{ site.baseurl }}/make" >
            Teach
          </a>
        </h3>
      </td>
      <td style="text-align: center; width: 240px;">
        <a href="{{ site.baseurl }}/make" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/make.jpg" width="150"> 
        </a>
        <br>
        <h3>
          <a href="{{ site.baseurl }}/make">
            Make
          </a>
        </h3>
      </td>
      <td style="text-align: center; width: 240px;">
        <a href="{{ site.baseurl }}/research" style="text-decoration:none">
          <img src="{{ site.baseurl }}/images/homepage/research.jpg" width="150">
        </a>
        <br>
        <h3>
          <a href="{{ site.baseurl }}/make">
            Research
          </a>
        </h3>
      </td>
    </tr>
  </table>  
</div>