       <div class="headline_boxes"> 
         {% assign maxPost = 1 %}
         {% assign counter = 0 %}
         {% assign blogPosts = site.posts | where: "category", filter %}
         {% for post in blogPosts %}
            {% if post.featured == {{featured}} %}
            
            <div class="posts">
               <h3>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
               </h3>
               {% if post.featured == {{featured}} %}<b>Featured Post</b>{% else %}
               {{ post.date | date_to_string }}
               {% endif %}
               <div>
                  {% if post.image != null %}  
                  <div class="thumbnail">
                       <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image }}"></a>
                  </div>
                  <br>
                  {% endif %}
                  <div class="post-text">
                     {{ post.content | truncate:50}} 
                     <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> 
                  </div>

                  {% include social-media.html %}

               </div> 
            </div> 
            {% assign counter = counter | plus: 1 %}
            {% endif %}
            
            {% if counter == maxPost %}
               {% break %} {% comment %}exit the for loop{% endcomment %}
            {% endif %}               
         {% endfor %}
       </div>