       <div class="horz_headline_boxes"> 
         {% assign counter = 0 %}
         {% assign blogPosts = site.posts | where: "category", filter %}
         {% for post in blogPosts %}
            {% if post.featured == {{featured}} %}
            
            <div class="posts">
              
               <div style="overflow:hidden;">
                  {% if post.image != null %}  
                  <div class="thumbnail" style="float:left;">
                       <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image }}"></a>
                  </div>
                  {% endif %}
                  <div class="post-text" style="float:left;"> 
                    <h3>
                      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </h3>
                     {% if post.featured == "true" %}<b>Featured Post</b>{% else %}
                     {{ post.date | date_to_string }}
                     {% endif %}
                     {{ post.content | truncate:150}} 
                     <br><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> <br><span style="float:right>">{% include social-media.html %}</span>
                  </div>
               </div> 
            </div> 
            {% assign counter = counter | plus: 1 %}
            {% endif %}
            
            {% if counter == maxPost %}
               {% break %} {% comment %}exit the for loop{% endcomment %}
            {% endif %}               
         {% endfor %}
       </div>